<article class="article">
	<div class="slideshow">
		<img src="#" alt="Alternate Text" >

		<p class="img-description">Description of image</p>
	</div>
	<h2>
		Title
	</h2>
	<div class="Date">Dato: 12/10-2018</div>
	<p>
		orem ipsum dolor sit amet, in justo concludaturque vel. Quo an melius aliquip voluptaria, per quas zril in. Ex inani tractatos posidonium per, fugit dignissim theophrastus per ei. Ne quem assum definiebas est.

		No ludus impetus quaeque quo. Qui imperdiet suscipiantur te, sea audiam bonorum assueverit ad. Modo habemus ea mei, id eam delectus sententiae. In quo saepe adipisci iracundia, clita eirmod torquatos eum ne. Ullum vocent ne qui.

		Ornatus expetendis inciderint vel cu. Ex est iudico dissentias, nec nonumy graece scripta ex. Mei choro nonumes propriae eu, quo at luptatum intellegat. Brute mazim pertinacia mei et, an tacimates adversarium duo, nisl suavitate et mei. Illud omnium eum in, ad per zril congue eloquentiam, usu hinc graeco scriptorem at.

		Vim cibo persius ad, vix ridens oblique sensibus ei. Ius at audiam percipit aliquando. In impetus maiestatis eos, eum case appetere ea, soluta tacimates ex ius. Ex idque simul noster nec, ad appetere percipit vis, sale tempor recteque an est. Ad falli dissentiunt mel, ei sed possim numquam salutatus. In mea tale tamquam.

		Sed id prompta offendit corrumpit, vix at homero aperiam, ut labore utamur  efficiendi per. Ne dicam ullamcorper nec, est ad dicam postea eirmod, ea minim consequat vix. Pro meis atqui in, sea alienum tractatos in, sumo homero in eum. Epicuri iudicabit eu mea, iudico nominavi no mei, idque viderer eu eos. Qui ut paulo omnesque, at cum consul altera legendos. Putant iisque maiorum ad usu. Mei et putent oblique efficiantur, idque commodo explicari nam ea.
	</p>
	<button type="button">delete icon</button><button type="button">edit icon</button>
</article>