@{
    ViewBag.Title = "Forside - Givskud kort";
}

<div id="map">


	<div class="logo-link" href="#">
		<img class="mapLogo" src="~/Images/givskudLogo.png" alt="Givskud zoo Logo" />
	</div>

	<div id="map-zoo" alt="Givskud zoo map" />


</div>