@{

    Layout = null;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
<link href="../../Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../../Content/Site.css">
<title>Login</title>
<body>

    <div class="container">
        <div class="row">
            <img class="logo" src="~/Images/givskudLogo.png" alt="Givskud Logo" />
        </div>

        <form>
            <input class="login" type="text" placeholder="Username"><br>
            <input class="login" type="text" placeholder="Password"><br>

            <div class="row">
                <div class="col">
                    <button class="btnNone" onclick="location.href='#'">Forgot your password?</button>
                </div>

                <div class="col">
                    <button class="btn btnFullWidth" onclick="location.href='#'">Login</button>
                </div>
            </div>
            <div class="space"></div>
            <input type="checkbox" />
            <label for="myChk">Remember me</label>
        </form>

    </div>


</body>
